<div id="dialog">
<form>
  <fieldset>
    <label for="email">Email</label>
    <input type="text" name="email" id="email" value="admin@admin.it" class="text ui-widget-content ui-corner-all" />
    <label for="password">Password</label>
    <input type="password" name="password" id="password" value="adminpassword" class="text ui-widget-content ui-corner-all" />
    <input type="button" value="send" onclick="$('#dialog').dialog('close'); return false;" tabindex="-1" />
  </fieldset> 
</form>

</div>
