
<div class="banner">
		 	<div class="bann-text">
			  	 <h3>Check out the concert in your Area and add more!</h3>
			  	 <a href="#">Start now</a>
			</div>
</div>
<div class="singer">
	<div class="container">
		<div class="singer-main">
			  <div class="col-md-4 singer-left">
			  	<a href="#"><img src="images/sing.jpg"></a>
			  </div>
			  <div class="col-md-8 singer-right">
			  	<h3>That's wonderful</h3>
			  	<h4>All my favourite band in <b>one single place!</b></h4>
			  	
			  </div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>

<div class="program">
	<div class="container">
		<div class="program-main">
			<div class="program-bottom">
				<div class="col-md-6 program-gridleft">
					<h4>Take a tour of your favourite concerts right now</h4>
					<div class="quoteation">
						<div class="music-icn"><span class="glyphicon glyphicon-music" aria-hidden="true"> </span></div>
						<div class="quote-text">
							<h5>Listen to what you love</h5>
							<p>Life is short, take a breath and listen to it. Are you not convinced yet? See all concert in Amsterdam area!</p>
				         <div class="program-btn">
					   <%= link_to "Go to concert List", band_concerts_path(0) %>
				        </div>
				        </div>
				        <div class="clearfix"> </div>
				    </div>
				</div>
				<div class="col-md-6 program-gridright">
                      <img src="images/1.jpg" alt="" class="img-responsive">
				</div>
			 <div class="clearfix"> </div>
			</div>
		   <div class="clearfix"> </div>
		</div>
	</div>




