
<div class="container">
    <div class="row">
      <div class=" col-sm-2">

    </div>
    <div class="concert col-sm-8">
	<h1>New Concert</h1>
      <%= render 'form' %>

<%= link_to 'Back', bands_path %>
    </div>

    <div class="col-sm-2">
    </div>
    </div>
